<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<div style="float: right;">
    <fb:like href="@ViewBag.CampaignQueryString" layout="button_count" show_faces="true"></fb:like>
</div>